<p id="notice"><%= notice %></p>

<h1>Listing Organisms</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Organism status</th>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Status ace</th>
      <th>Stream fasta</th>
      <th>Stream gbk</th>
      <th>Stream gff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisms.each do |organism| %>
      <tr>
        <td><%= organism.project %></td>
        <td><%= organism.organism_status %></td>
        <td><%= organism.nome %></td>
        <td><%= organism.descricao %></td>
        <td><%= organism.status_ace %></td>
        <td><%= organism.stream_fasta %></td>
        <td><%= organism.stream_gbk %></td>
        <td><%= organism.stream_gff %></td>
        <td><%= link_to 'Show', organism %></td>
        <td><%= link_to 'Edit', edit_organism_path(organism) %></td>
        <td><%= link_to 'Destroy', organism, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organism', new_organism_path %>
