<h2>Projects</h2>

<br/>

<fieldset>
	<legend>Genome Index</legend>
	<% if @projects.count > 0 %> 
	
	<br/>
	<br/>
	<div id="proj_items">
		
		<% @projects.each do |prj| %>
		
		<%
			# Determina a descricao do status
			@descr = ""
			case prj.andamento
			when "I"
			@descr = "Started"
			when "E"
			@descr = "Ongoing"
			when "C"
			@descr = "Completed"
			when nil
			@descr = ""
			end
			
			# Concatena a visibilidade no status
			if prj.status_ace
			@descr = "#{@descr} / Public"
			else
			@descr = "#{@descr} / Not public"
			end
			
			# Saida em HTML no campo descricao, apenas algumas tags
			@html_descr = sanitize prj.descricao, tags: %w(b i u a p ul ol li br image strong pre), attributes: %w(href class src)
		%>
		
		<h3><%= prj.nome %></h3>
		
		<div>
			
			<table class="generic" width="100%">
				
				<tr>
					<td class="label" width="200px">Project name</td>
					<td class="field"><%= prj.nome %></td>
				</tr>
				
				<tr>
					<td class="label">Status</td>
					<td class="field"><%= @descr %></td>
				</tr>
				
				<tr>
					<td class="label">Coordinator</td>
					<td class="field"><%= prj.user.nomeExibicao %></td>
				</tr>
				
				<tr>
					<td class="label" colspan="2">Description:</td>
				</tr>
				
				<tr>
					<td class="field" colspan="2"><div class="box"><p><%= @html_descr %></p></div></td>
				</tr>
				
				<tr>
					<td class="label">Organisms</td>
					<% arq = false %>
					<% if prj.organisms.count > 0 %>
					
					<td class="field">
						<% prj.organisms.each do |org| %>
						
						<% if current_user %>
						<% team = Team.find_by project_id: prj.id, user_id: current_user.id %>
						<%end%>
						<% if org.organism_status.visibilidade == "P" || (team && team.status_ace && org.organism_status.visibilidade == "E") || (current_user && current_user.user_role_id == 1) || (current_user && prj.user_id == current_user.id) %>
						<% arq = true %>
						<span class="ui-icon-document" width="24" height="24" ></span>
						<%= link_to "#{org.nome}", show_org_path(:id => org.id), :method => :get %><br/>
						<%end%>
						<%end%>
					</td>
					
					<%end%>
					
					<% if !arq %>
					<td class="field">No files</td>
					<% end %>
				</tr>
				
			</table>
			<br/>
			
			<% if current_user && prj.user_id != current_user.id && current_user.user_role_id != 1 %>
			<% if @teams.detect{|t| t["project_id"] == prj.id} %>
			<% if @teams.detect{|t| t["status_ace"] == true && t["project_id"] == prj.id} %>
			<td><i>You're already in this project</i></td>
			<%else%>
			<td><i>Waiting for approval</i></td>
			<%end%>
			<%else%>
			<td><%= button_to "Ask Access to this project", prj_ask_path(:id => prj.id), :method => :get, :class => "button" %></td>
			<%end%>
			<%else%>
			<% if !current_user %>
			<td>
				<div class="ui-widget">
					<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
						<p>
							<span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
							If you have an account already, please <a href="#" id="login_link_a">login</a> to ask for access to this project.<br/>
							Otherwise, click the button below to create a new account and join this project (Coordinator approval is needed).<br/>
						</p>
					</div>
				</div>
				<br/>
				<%= button_to "Create Account and Ask for Access", prj_ask_path(:id => prj.id), :method => :get, :class => "button" %>
			</td> 
			<%end%>
			<%end%>
			
		</div>
		
		<% end %>
	</div>
	
	<% else %>
	
	<h4>No projects available yet...</h4>
	
	<% end %>
	
	<br/>
	<br/>
	
</fieldset>

<br/>
<br/>		