<h2>Coordinator Administration Page</h2>

<!-- Painel de ações do coordenador -->
<table id="coord_pane" cellspacing="10px">
	
	<!-- Primeira linha -->
	<tr>
		
		<!-- Meus projetos -->
		<td class="bloco_acao">
			
			<div class="titulo">
				<h3>My Projects</h3>
			</div>
			
			<div class="conteudo">
				<% if @projects && @projects.count > 0 %>
				<table id="table_coord_projects">
					<tr class="titulo">
						<td><b>Project Name</b></td>
						<td><b>Edit Project</b></td>
					</tr>
					<% @projects.each do |prj| %>
					<tr class="conteudo">
						<td><%= prj.nome %></td>
						<td><%= button_to "Edit", prj_edit_path(:id => prj.id), :method => :get, :class => "button" %></td>
					</tr>
					<%end%>
				</table>
				<%else%>
				<h4>You currently have no projects!</h4>
				<%end%>
				
				<br/>
				<%= button_to "Submit a New Project", prj_new_path, :method => :get, :class => "button" %>
				<br/>
			</div>
			
		</td>
		
		<!-- Meus pesquisadores -->
		<td class="bloco_acao">
			
			<div class="titulo">
				<h3>My Researchers</h3>
			</div>
			
			<div class="conteudo">
				<% if @equipesCoord && @equipesCoord.count > 0 %>
				<table id="table_coord_researchers">
					<tr class="titulo">
						<td><b>Researcher</b></td>
						<td><b>At Project...</b></td>
						<td><b>Status</b></td>
						<td><b>Edit</b></td>
					</tr>
					<% @equipesCoord.each do |usCoord| %>
					<tr class="conteudo">
						<td><%= usCoord.user.nomeExibicao %></td>
						<td>
							<% if !usCoord.project %>
							(No project)
							<%else%>
							<%= usCoord.project.nome %>
							<%end%>
						</td>
						<td>
							<% if !usCoord.status_ace %>
							<% if usCoord.created_at == usCoord.updated_at %>
							New User
							<%else%>
							<span class="red">(Removed)</span>
							<%end%>
							<%else%>
							Assigned
							<%end%>
						</td>
						<td><%= button_to "Edit", team_edit_c_path(:id => usCoord.id), :method => :get, :class => "button" %></td>
						
					</tr>
					<%end%>
				</table>
				<% else %>
				<h4>You currently have no researchers!</h4>
				<%end%>
			</div>
			
			<br/>
			
		</td>
		
	</tr>
	
	<!-- Segunda linha -->
	<tr>
		
		<!-- Meus arquivos -->
		<td class="bloco_acao">
			
			<div class="titulo">
				<h3>My Files</h3>
			</div>
			
			<div class="conteudo">
				<% if @projects && @projects.count > 0 %>
				
				<table id="table_coord_files">
					
					<% @projects.each do |p| %>
					
					<tr class="titulo">
						<td colspan="2">
							<p>Project: <%=p.nome%></p>
						</td>
					</tr>
					
					<% if p.organisms.count > 0 %> 
					
					<% p.organisms.each do |o| %>
					<tr class="conteudo">
						<td><%= o.nome %></td>
						<td><%= button_to "Edit", edit_org_path(:id => o.id), :method => :get, :class => "button" %></td>
					</tr>
					<%end%>
					
					<%else%>
					
					<tr class="conteudo">
						<td colspan="2">There is no organisms in this project</td>
					</tr>
					
					<%end%>
					
					<tr class="conteudo">
						<td colspan="2">
							<%= button_to "Create new organism", new_org_path(:id => p.id), :method => :get, :class => "button" %>
						</td>
					</tr>
					
					<tr><td colspan="2"><br/></td></tr>
					
					<%end%>
					
				</table>
				
				<%else%>
				<h4>No projects / files submitted yet</h4>
				<%end%>
			</div>
			
			<br/>
		</td>
		
		<!-- Novos pesquisadores -->
		<td class="bloco_acao">
			
			<div class="titulo">
				<h3>New Researchers</h3>
			</div>
			
			<div class="conteudo">
				<% if @teamNovos && @teamNovos.count > 0 %>
				<table id="table_coord_new_researchers">
					<tr class="titulo">
						<td><b>Researcher</b></td>
						<td><b>At Project...</b></td>
						<td><b>Edit</b></td>
					</tr>
					<% @teamNovos.each do |t| %>
					<tr class="conteudo">
						<td><%= t.user.nomeExibicao %></td>
						<td><%= t.project.nome %></td>
						<td><%= button_to "Edit", team_edit_a_path(:id => t.id), :method => :get, :class => "button" %></td>
					</tr>
					<%end%>
				</table>
				<%else%>
				<h4>No new users to review</h4>
				<%end%>
			</div>
			
			<br/>
			
		</td>
		
	</tr>
	
	<!-- Terceira linha -->
	<tr>
		
		<!-- Minhas equipes -->
		<td class="bloco_acao">
			
			<div class="titulo">
				<h3>My Teams | All</h3>
			</div>
			
			<div class="conteudo">
				<% if @myTeams && @myTeams.count > 0 %>
				<table id="table_coord_teams">
					
					<tr class="titulo">
						<td><b>User</b></td>
						<td><b>Role</b></td>
						<td><b>Project</b></td>
						<td><b>Edit</b></td>
					</tr>
					
					<% @myTeams.each do |m| %>
					<tr class="conteudo">
						<td><%= m.user.nomeExibicao %></td>
						<td><%= m.team_role.nivel %></td>
						<td><%= m.project.nome %></td>
						<td><%= button_to "Edit", team_edit_c_path(:id => m.id), :method => :get, :class => "button" %></td>
					</tr>
					<%end%>
				</table>
				<%else%>
				<h4>You have no active teams</h4>
				<p>You need at least one active user (researcher or guest) assigned to a project to assemble a team.</p>
				<%end%>
			</div>
			
			<br/>
		</td>
		
		
		<!-- Novos convidados -->
		<td class="bloco_acao">
			
			<div class="titulo">
				<h3>New Guests</h3>
			</div>
			
			<div class="conteudo">
				<% if @newGuests && @newGuests.count > 0 %>
				<table id="table_coord_guests">
					
					
					<tr class="titulo">
						<td><b>Guest</b></td>
						<td><b>At Project...</b></td>
						<td><b>Edit</b></td>
					</tr>
					
					<% @newGuests.each do |n| %>
					<tr class="conteudo">
						<td><%= n.user.nomeExibicao %></td>
						<td><%= n.project.nome %></td>
						<td><%= button_to "Edit", team_edit_a_path(:id => n.id), :method => :get, :class => "button" %></td>
					</tr>
					<%end%>
				</table>
				<%else%>
				<h4>You have no new guests</h4>
				<%end%>
				
			</div>
			
			<br/>
		</td>
		
	</tr>
	
</table>
