<h2>Approve or Reject Coordinator</h2>

<%= form_for @coord do |f| %>
  
  <!-- Tratamento de erros -->
  <% if @coord.errors.any? %>
    <div class="error_messages">
      <p>Please, note that:</p>
      <ul>
        <% @coord.errors.each_with_index do |msg, i| %>
          <li><%= msg[1] %></li>
        <% end %>
      </ul>
      <!-- Erros completos -->
      <!--
      <% @coord.errors.full_messages.each do |m| %>
        <%= m %>
      <% end %> 
      -->
    </div>
  <% end %>
  
  
  <!-- Campos do formulario -->
  <table>
    <tr>
      <td>
        <p>
        Use the checkbox below to toogle user activity in the system. Check it to allow as a coordinator.<br/>
        If you left unchecked, the user will not be able to log on to the system.<br/>
        If you check the box, the user will be able to log on as a coordinator and you can find it under your "Coordinators" area, in the Administration
        pane
        </p>
        
        <p><b>User details:</b><br></p>
        <table>
          <tr>
            <td class="label">Name</td>
            <td><%= @coord.nomeExibicao %></td>
          </tr>
          
          <tr>
            <td class="label">Username</td>
            <td><%= @coord.nomeUsuario %></td>
          </tr>
          <tr>
            <td class="label">E-mail</td>
            <td><%= @coord.email %></td>
          </tr>
          
          <tr>
            <td class="label">Active Coordinator?</td>
            <td><%= f.check_box :status_ace %>(check to enable)</td>
          </tr>
          
        </table>
      </td>
    </tr>
  </table>
  <br/><br/>
  
  <%= f.submit "Save" %>
  
<% end %>

<br/><br/>
<button class="button" onclick="back()">Back</button>
<br/><br/> 
