<h2>Sign up</h2>

<%= form_for @user do |f| %>
  
  <!-- Tratamento de erros -->
  <% if @user.errors.any? %>
    <div class="error_messages">
      <p>Please, note that:</p>
      <ul>
        <% @user.errors.each_with_index do |msg, i| %>
          <li><%= msg[1] %></li>
        <% end %>
      </ul>
      <!-- Erros completos -->
      <!--
      <% @user.errors.full_messages.each do |m| %>
        <%= m %>
      <% end %> 
      -->
    </div>
  <% end %>
  
  
  <!-- Campos do formulario -->
  <%= f.label "Username" %><br/>
  <%= f.text_field :nomeUsuario %><br/><br/>
  
  <%= f.label "Display Name" %><br/>
  <%= f.text_field :nomeExibicao %><br/><br/>

  <%= f.label "E-mail" %><br/>
  <%= f.text_field :email %><br/><br/>
  
  <%= f.label "Password" %><br/>
  <%= f.password_field :senha %><br/><br/>
  
  <%= f.label "Password Confirmation" %><br/>
  <%= f.password_field :senha_confirmation %><br/><br/>
  
  <%= f.submit %>
  
<% end %>

<br/><br/>
<button class="button" onclick="back()">Back</button>
<br/><br/> 
